@{
    Layout = "_Layout";
}
@{
    List<Pizza> adminPizzaList = new List<Pizza>();
    adminPizzaList.Add(new Pizza(1, "Margherita", "Pomodoro, fior di latte e basilico", "margherita.jpg", 4.50f));
    adminPizzaList.Add(new Pizza(2, "Diavola", "Pomodoro, fior di latte e piccante", "salame.jpg", 4.50f));
    adminPizzaList.Add(new Pizza(3, "Saporita", "Fior di latte, crudo, rucole e scaglie di parmigiano", "crudo.jpg", 4.50f));
    adminPizzaList.Add(new Pizza(4, "Funghi", "Fior di latte, funghi e prosciutto cotto", "funghi.jpg", 4.50f));


}


        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1 class="my-5">Lista delle pizze</h1>


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Immagine</th>
                                <th scope="col">Titolo</th>
                                <th scope="col">Descrizione</th>
                                <th scope="col">Prezzo</th>

                            </tr>
                        </thead>
                        <tbody>
                    @foreach(Pizza pizza in adminPizzaList)
                    {
                        <tr>
                            <th scope="row">@pizza.Id</th>
                            <td><img class="w-75" src="~/img/@pizza.Pathimg" alt="Margherita" /></td>
                            <td>@pizza.Name</td>
                            <td>@pizza.Description</td>
                            <td>@pizza.Price</td>
                        </tr>
                    }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>




