@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@{
    List<Pizza> userPizzaList = new List<Pizza>();
    userPizzaList.Add(new Pizza(1, "Margherita", "Pomodoro, fior di latte e basilico", "margherita.jpg", 4.50f));
    userPizzaList.Add(new Pizza(2, "Diavola", "Pomodoro, fior di latte e piccante", "salame.jpg", 4.50f));
    userPizzaList.Add(new Pizza(3, "Saporita", "Fior di latte, crudo, rucole e scaglie di parmigiano", "crudo.jpg", 4.50f));
    userPizzaList.Add(new Pizza(4, "Funghi", "Fior di latte, funghi e prosciutto cotto", "funghi.jpg", 4.50f));


}


<div class="container">

    <div class="gap-3 d-flex justify-content-center row">
        @foreach (Pizza pizza in userPizzaList)
        {
            <div class="card" style="width: 18rem;">
                <img src="~/img/@pizza.Pathimg" class="card-img-top" alt="@pizza.Name">
                <div class="card-body">
                    <h5 class="card-title">@pizza.Name</h5>
                    <p class="card-text">@pizza.Description</p>
                    <p class="card-text">@pizza.Price</p>

                </div>
            </div>
        }
    </div>

</div>
